body {
    background-color: #F9FAFC;
    font-family: 'Goudy Bookletter', sans-serif;
}

.dark-bg {
    background-color: #445261;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.btn-likes {
    color: red;
    border: none;
    background: transparent;
}

.btn-likes:hover,
.btn-likes:active {
    color: #FF8A8A;
    background: transparent;
    border: none;
}

.alert-box {
    margin: 10px;
    padding: 10px;
}

.about-text {
    color: black;
}

