body {
    background-color: #F9FAFC;
}

.dark-bg {
    background-color: #445261;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}
