{% extends 'base.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
<title>Edit Your Workout</title>
{% endblock %}


<!-- Navbar Active Link -->
{% block active_edit_workout %}
active
{% endblock %}


<!-- aria-current Attribute for active nav link -->
{% block aria_edit_workout %}
aria-current="page" id="active-green"
{% endblock %}


<!-- Header Image -->
{% block header %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="d-md-block">
                <img src="../static/media/site_imgs/hero-image.jpg" width="100%"> 
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
    <div class="container text-light">
        <div class="row">
            <div class="col mt-3 mb-5">
                <h1 class="text-center green-text">Edit Your Workout</h1>
                <form  method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            {{ workout_form | crispy | safe }}
                            {% csrf_token %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-signup btn-lg btn-success">Edit</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col mt-3 mb-5 text-light text-center">
                <h1 class="green-text mb-5">I'm sorry, you're not logged in!</h1>
                <p>You will need to <a class="green-text" href="{% url 'account_login' %}">log in</a> or <a
                        class="green-text" href="{% url 'account_signup' %}">register</a> an account to edit this workout.</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}